.weather-page {
  background: url('../img/weather-thunder.jpeg') no-repeat;
  /* background-size: cover; */
  background-position: center;
  color: beige;
  height: 85vh;
  text-align: center;
  margin: 30px auto;
  padding-top: 50px;
  max-width: 500px;
  border: 2px solid inherit;
}

.city {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 70px;
}

.temp {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

.time {
  text-align: center;
  margin: 10px auto;
}

.summary {
  text-align: center;
  font-size: 20px;
  padding-bottom: 70px;
}

footer a {
  color: beige;
}
